
  <section class="section">
    <div class="section__content">
      <div class="row row-title">
        <div class="column">
          <!-- Heading -->
          <Heading
            tag="h1"
            ref="heading"
            isCustomTriggered="true"
            class="heading"
            :data="data?.title || headingText"
          />

          <!-- Industries grid -->
          <div class="industries-container">
            <div class="industries-grid">
              <div
                v-for="(industry, i) in localizedIndustries"
                :key="i"
                class="industry-box"
                @mouseenter="hoveredIndex = i"
                @mouseleave="hoveredIndex = null"
              >
                <img 
                  v-if="industry.image?.url || industry.image"
                  :src="industry.image?.url || industry.image" 
                  :alt="industry.title"
                  class="industry-bg"
                  @error="handleImageError(i, industry)"
                />
                <span class="industry-name">{{ industry.title || industry.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
