
.page {
    //  math.div math.div opacity: 0;
}



.section-visit {
    padding-top: rem(150px);
    padding-bottom: rem(110px);

    @include respond-to('large') {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.section-footer {
    background-color: rgba(0, 0, 0, 0.8);
}
