
.section {
    width: 100%;
}

.row-items {
    margin-bottom: rem(70px);

    @include respond-to('large') {
        margin-bottom: rem-l(120px);
    }

    .column {
        width: 78%;

        margin-left: 11%;

        @include respond-to('large') {
            width: 83%;

            margin-left: 9%;
        }
    }
}

.items {
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    @include respond-to('large') {
        display: flex;

        align-items: stretch;

        border: 0;
    }

    > li {
        margin-bottom: rem(60px);

        &:last-child {
            margin-bottom: 0;
        }

        @include respond-to('large') {
            margin-bottom: 0;
        }
    }
}

.row-footer {
    .column {
        width: 77%;

        margin-left: 12%;

        .ar & {
            text-align: right;
        }

        @include respond-to('large') {
            text-align: right;

            .ar & {
                text-align: left;
            }
        }
    }
}
