.heading {
  padding-bottom: 4vh;

}

.center-heading{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    line-height: 1.1;
}

.section-slider {
  overflow: hidden;
  position: relative;
  padding: 0 0 15vh 0;

  .swiper-container {
    position: relative;
    user-select: none;
    width: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 80px;
    height: 80px;
    background: rgba(200, 200, 200, 0.2);
    color: rgb(156, 156, 156);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: rgba(180, 180, 180, 0.6);
    }
  }

  .swiper-button-prev {
    left: 15%;
  }

  .swiper-button-next {
    right: 15%;
  }

  .my-swiper {
    overflow: visible;
    width: 100%;

    .swiper-wrapper {
      display: flex;
      transition: transform 0.3s ease;
      will-change: transform;
    }

    .swiper-slide {
      flex: 0 0 auto;
      width: 77vw; // ✅ key fix
      margin-right: 20px;
      transform: scale(1);
      opacity: 0.4;
      transition: all 0.5 ease;


      &.active {
        transform: scale(1);
        opacity: 0.8;
        transition: all 0.5 ease;
      }

      .slide-wrapper {
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          pointer-events: none;
          user-select: none;
        }

        .slide-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;

          h2 {
            font-family: "Formula Condensed", sans-serif;
            font-weight: 300;
            font-size: 4rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
