
.section {
    opacity: 0;

    display: flex;

    align-items: flex-end;

    @include respond-to('large') {
        display: flex;

        align-items: center;

        height: 100vh;
    }

    .ar & {
        direction: rtl;
    }
}

.row-title {
    padding-right: $padding-mobile;
    padding-bottom: rem(100px);
    padding-left: $padding-mobile;

    @include respond-to('large') {
        padding-top: rem-l(100px);
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .column {
        width: 100%;

        @include respond-to('large') {
            width: 43%;

            margin-left: 14%;
        }

        .ar & {
            @include respond-to('large') {
                margin-right: 14%;
            }
        }
    }
}

.scroll-arrow {
    position: absolute;
    left: 50%;
    
}

.heading {
    font-size: rem(65px);
    margin-bottom: rem(0px);

    @include respond-to('large') {
        // font-size: rem-l(160px);
        margin-bottom: rem(1px);
        font-size: rem-l(80px);
        line-height: 1.12em;
        letter-spacing: 0.07em;
    }

    .ar & {
        letter-spacing: inherit;
    }
}

