
.navigation-dots {
    > li {
        display: inline-block;

        margin-right: rem(10px);

        @include respond-to('large') {
            margin-right: rem-l(15px);
        }
    }
}

.dot {
    opacity: 0.5;

    width: rem(7px);
    height: rem(7px);

    background: $color-orange;
    border-radius: 50%;

    transform: scale(0.8);

    transition: 0.5s $power2-out;

    &.active {
        opacity: 1;

        transform: scale(1);
    }

    @include respond-to('large') {
        width: rem-l(15px);
        height: rem-l(15px);
    }
}
