.services-list {
    min-height: calc(100vh - 7.1875rem);
    padding-top: 10.1875rem;
    padding-bottom: 10.1875rem;
}
.services-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 9.5%;
    padding-right: 9.5%;
    // height: 100vh;
    align-items: center;
}
.service-column {
    width: 45%;
}