<!-- Section -->
<section class="section">

    <!-- Background -->
    <div class="background" ref="background"></div>

    <!-- Section content -->
    <div class="section__content" ref="sectionContent">

        <!-- Row title -->
        <div class="row row-title">

            <!-- Column -->
            <div class="column">
                <Heading
                    tag="h2"
                    ref="heading"
                    isCustomTriggered="false"
                    class="heading-b heading"
                    :data="data.title"
                />
            </div>

            <!-- CONTACT FORM -->
            <div class="contact-form" ref="cForm">

                <form @submit.prevent="handleSubmit">

                    <div class="input-group">
                        <input v-model="formData.firstName" type="text" placeholder="First Name" required>
                        <input v-model="formData.lastName" type="text" placeholder="Last Name" required>
                    </div>

                    <div class="input-group">
                        <input v-model="formData.email" type="email" placeholder="Email Address" required>
                        <input v-model="formData.phone" type="tel" placeholder="Contact Number">
                    </div>

                    <div class="input-group">
                        <textarea v-model="formData.message" cols="30" rows="4" placeholder="Your Message"></textarea>
                    </div>

                    <div class="cf-btn-broup">
                        <button type="submit" class="button-fix">
                            Send a message
                        </button>
                    </div>

                    <div v-if="submissionSuccess" class="success-message">
                        Thank you, we will contact you shortly.
                    </div>

                    <div v-if="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </div>

                </form>

            </div>

        </div>

        <!-- Row address -->
        <div class="row row-address">
            <div class="column left">
                <span class="address-title" ref="addressTitle1">{{ data.address_title_1 }}</span>
                <Body :data="data.address_1" class="body" ref="body1" />
            </div>

            <div class="column center">
                <div class="body address-secondary">
                    <p>
                        <a @click="emailClickHandler"
                           :href="`mailto:${data.email}?subject=${data.email_subject}`"
                           ref="email"
                           class="email">
                           {{ data.email }}
                        </a>
                        <br />
                        <a @click="phoneClickHandler"
                           :href="`tel:${data.phone}`"
                           ref="phone"
                           class="phone">
                           {{ data.phone }}
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>
