<section class="section section-hero-video" ref="root">
    <div class="section__content">
      <div class="content content--video" ref="content">
        <div class="video-wrapper">
          <video
            ref="video"
            class="bg-video"
            autoplay
            muted
            playsinline
            loop
            preload="metadata"
          >
            <source :src="videoSrcMp4" type="video/mp4" />
          </video>
        </div>
      
        <div v-if="overlay" class="video-overlay"></div>
      </div>

      <ScrollIndicator
        v-if="data.scroll_down_label"
        class="scroll-indicator"
        ref="scrollIndicator"
        :label="data.scroll_down_label"
      />
    </div>
  </section>