
.section {
    opacity: 0;

    display: flex;

    align-items: center;

    width: 100%;

    // height: 100vh;

    // padding-bottom: 15vh;
    
    @include respond-to('large') {
        // padding-bottom: 19vh;
        height: auto;
        padding: 12vh 0;
    }

    @include respond-to('large') {
        // padding-bottom: 19vh;
        min-height: 100vh;

        height: auto;
        padding: 19vh 0;
    }

    .ar & {
        direction: rtl;
    }
}

.row-title {
    margin-bottom: rem(0px);

    @include respond-to('large') {
        margin-bottom: rem-l(0px);
    }

    .column {
        width: 95%;

        margin-left: auto;
        margin-right: auto;

        @include respond-to('large') {
            width: 70%;

            margin-left: auto;
            margin-right: auto;
        }

        
        .heading {
            font-size: rem(35px);
            line-height: 1.205em;
            letter-spacing: 0.05em;
            text-align: center!important;

            >*{
                text-align:center;
            }
            div {
                text-align:center!important;
            }
            > span {
                display: block;
            }

            @include respond-to('large') {
                font-size: rem-l(50px);
                letter-spacing: 0.07em;
            }
        }

        .gsap-lines{
            text-align: center!important;
        }

        .ar & {
            margin-right: auto;
            margin-left: auto;
            @include respond-to('large') {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}





.row-body {

    .column {
        width: 95%;

        margin-left: auto;
        margin-right: auto;

        @include respond-to('large') {
            width: 70%;

            margin-left: auto;
            margin-right: auto;
        }

        .body {
            text-align:center!important;
        }

        .ar & {
            margin-right: auto;
            margin-left: auto;
            @include respond-to('large') {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

.body {
    margin-bottom: rem(20px);

    @include respond-to('large') {
        margin-bottom: rem-l(25px);
    }
}
