
.section {
    opacity: 0;

    display: flex;

    align-items: center;

    width: 100%;

    // height: 100vh;

    // padding-bottom: 15vh;
    
    @include respond-to('large') {
        // padding-bottom: 19vh;
        height: auto;
        padding: 12vh 0;
    }

    @include respond-to('large') {
        // padding-bottom: 19vh;
        min-height: 100vh;

        height: auto;
        padding: 19vh 0;
    }

    .ar & {
        direction: rtl;
    }
}

.row-title {
    margin-bottom: rem(0px);

    @include respond-to('large') {
        margin-bottom: rem-l(0px);
    }

    .column {
        width: 60%;

        margin-left: 15%;

        @include respond-to('large') {
            width: 30%;

            margin-left: 12%;
        }

        .ar & {
            margin-right: 15%;

            @include respond-to('large') {
                margin-right: 60%;
            }
        }
    }
}

.heading {
    line-height: 1.12!important;
    > span {
        display: block;
    }
}

.row-body {
    .column {
        width: 70%;

        margin-left: 15%;

        @include respond-to('large') {
            width: 23%;

            margin-left: 12%;
        }

        .ar & {
            margin-right: 15%;

            @include respond-to('large') {
                margin-right: 60%;
            }
        }
    }
}

.body {
    margin-bottom: rem(20px);

    @include respond-to('large') {
        margin-bottom: rem-l(25px);
    }
}
