
.section {
    opacity: 0;

    display: flex;

    align-items: flex-end;

    width: 100%;

    padding-bottom: 15vh;

    @include respond-to('large') {
        padding-bottom: 16vh;
    }

    .ar & {
        direction: rtl;
    }
}

.row-title {
    margin-bottom: rem(27px);

    @include respond-to('large') {
        margin-bottom: rem-l(140px);
    }

    .column {
        width: 70%;

        margin-left: 15%;

        @include respond-to('large') {
            width: 40%;

            margin-left: 12%;
        }

        .ar & {
            margin-right: 15%;

            @include respond-to('large') {
                margin-right: 52%;
            }
        }
    }
}

.heading {
    margin-bottom: rem(10px);

    @include respond-to('large') {
        margin-bottom: rem-l(20px);
    }

    > span {
        display: block;
    }
}

.row-body {
    .column {
        width: 70%;

        margin-left: 15%;

        @include respond-to('large') {
            width: 23%;

            margin-left: 63%;
        }

        .ar & {
            margin-right: 15%;

            @include respond-to('large') {
                margin-right: 12%;
            }
        }
    }
}
