
.cookies-message {
    opacity: 0;

    font-family: $font-secondary;
    font-weight: 500;
    font-size: rem(12px);
    line-height: rem(15px);
    letter-spacing: 0.06em;
    color: color.adjust(#ffb763, $alpha: -0.8);

    .ar & {
        direction: rtl;
    }

    @include respond-to('large') {
        font-size: rem-l(12px);
        line-height: rem-l(15px);
    }
}

.button {
    color: transparentize($color: #ffb763, $amount: 0.5);

    border-bottom: color.adjust(#ffb763, $alpha: -0.8);

    transition: all 0.6s $power3-out;

    &:hover {
        color: color.adjust(#ffb763, $alpha: -0.8);

        border-bottom: color.adjust(#ffb763, $alpha: -0.8);
    }
}
