<div class="service-item">
    <div class="service-item-wrapper">
      <img :src="servImage" alt="">
      <div class="service-row">
        <div class="left-content">
          <div class="title">
            <h1>SERVICE TITLE</h1>
          </div>
          <div class="description">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed urna eros. Phasellus et interdum libero. Morbi eget tortor at erat finibus cursus a varius metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed urna eros. Phasellus et interdum libero. Morbi eget tortor at erat finibus cursus a varius metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed urna eros. Phasellus et interdum libero.
            </p>
          </div>
        </div>
        <div class="right-content">
          <div class="ser-arrow">
            <Arrow />
          </div>
        </div>
      </div>
    </div>
  </div>
  