
.section {
    padding-top: rem(150px);

    @include respond-to('large') {
        padding-top: rem-l(400px);
    }
}

.row {
    .column {
        width: 80%;

        margin-left: 10%;

        @include respond-to('large') {
            width: 50%;

            margin-left: 25%;
        }
    }
}

.heading {
    margin-bottom: rem(60px);

    @include respond-to('large') {
        margin-bottom: rem-l(140px);

        font-size: rem-l(140px);
        line-height: 1.04em;
        letter-spacing: 0.07em;
    }
}
