<section class="section">
    <div class="section__content">
      <!-- Row title -->
      <div class="row row-title">
        <div class="column">
          <Heading
            tag="h2"
            class="partners-heading"
            :data="headingText"
            ref="heading"
          />
        </div>
      </div>
  
      <!-- Row logos -->
      <div class="row row-logos">
        <div class="column column-logos">
          <ul class="logos">
            <li v-for="(item, index) in data.logos" :key="index" ref="item">
              <a
                v-if="item.link"
                :href="item.link"
                target="_blank"
                class="button-logo"
              >
                <img :src="item.logo.url || item.logo" class="logo" />
              </a>
              <img v-else :src="item.logo.url || item.logo" class="logo" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  