
.section {
    opacity: 0;
}

.row {
    position: relative;

    width: 100%;

    .column {
        @include respond-to('large') {
            width: 78%;

            margin-left: 11%;
        }
    }
}

.image-container {
    overflow: hidden;
}

.image {
    bottom: -5%;
    left: -5%;

    width: 110%;
    height: 110%;
}
