<section class="section section--services-detail" :class="{ ar: isArabic }">
  <div class="section__content">
    <div class="services-detail">
      
      <!-- Left: Scrollable Content -->
      <div class="column content">
        <div
          class="service-block"
          v-for="(item, index) in slides"
          :key="index"
        >
        <div class="row row-title">
          <div class="column" :class="{ rtl: isArabicSlide(index) }">
            <Heading
              tag="h2"
              :ref="`heading_${index}`"
              isCustomTriggered="false"
              class="heading-b heading"
              :preserve-line-break="true"
              :data="item.title"
              :dir="isArabicSlide(index) ? 'rtl' : 'ltr'"
            />
          </div>
        </div>
        

          <div class="row row-body">
            <div class="column">
              <div
                class="body"
                v-html="item.description"
              />
            </div>
          </div>

          <!-- Mobile Image: Show inline with content -->
          <div class="mobile-image">
            <img
              :src="item.image"
              :alt="item.title"
            />
          </div>
        </div>
      </div>

      <!-- Right: Sticky Image (Desktop Only) -->
      <div class="column sticky-wrapper" ref="stickyWrapper">
        <div class="sticky-imagediv" ref="stickyImageDev">
          <img
            v-for="(item, index) in slides"
            :key="index"
            :src="item.image"
            :class="{ 'is-active': index === activeIndex }"
            :ref="`stickyImage_${index}`"
            :alt="item.title"
          />
        <ScrollArrow class="scroll-arrow" ref="scrollArrow" />

        </div>
      </div>
    </div>
  </div>
</section>
